<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Placar Elite16</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/static/css/instagram/elite16/story_{{.Theme}}.css"
    />
  </head>
  <body>
    <div class="container" id="media">
      <div class="header">
        <div class="account-icon">
          <img src="/static/images/profile-icon.png" alt="Perfil" />
        </div>
      </div>

      <div class="location">
        <div class="loc-city">{{ (index .Scoreboards 0).LocCity }}</div>
        ,
        <div class="loc-country">{{ (index .Scoreboards 0).LocCountry}}</div>
      </div>

      <div class="media-scoreboard">
        {{range .Scoreboards}}
        <div class="match-scoreboard" id="scoreboard_{{.MatchNo}}">
          <div class="match-info">
            <div class="info-item" id="phase">{{.Phase}}</div>
            <div class="info-item" id="round">{{.Round}}</div>
            <div class="info-item" id="gender">{{.Gender}}</div>
          </div>

          <div class="teams">
            <div class="team-names">
              <div class="player">{{.PlayerA1}}</div>
              <div class="player">{{.PlayerA2}}</div>
            </div>

            <!-- Bandeira do time A -->
            <img src="{{.FlagAURL}}" alt="Flag of {{.CountryA}}" class="flag" />

            <div class="score">
              <div class="score-box">{{.ScoreA}}</div>
              <div class="score-separator">:</div>
              <div class="score-box">{{.ScoreB}}</div>
            </div>

            <!-- Bandeira do time B -->
            <img src="{{.FlagBURL}}" alt="Flag of {{.CountryB}}" class="flag" />

            <div class="team-names">
              <div class="player">{{.PlayerB1}}</div>
              <div class="player">{{.PlayerB2}}</div>
            </div>
          </div>

          <div class="set-scores">
            {{range .SetScores}}
            <div class="set">{{.}}</div>
            {{end}}
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
